<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="10">

    <!-- Leaflet  CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <!-- Leaflet  JavaScript -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
</head>
<body>
    <span id="test"></span>
    <!-- Map insertion -->
    <div id="map_id"></div>

    <!-- Map dimention -->
    <style>#map_id { height: 100vh; width: 100vw; }</style>

    <!-- Map description -->
   <script>

   /*Create the map*/
   var coord = [45.7242587,4.8079233]
    var mymap = L.map('map_id').setView([45.7670562,4.8705643], 13);
    
    class fire {
        constructor(location, intensity) {
            this.location = location;
            this.intensity = intensity;
        }
    }

    class truck {
        constructor(location) {
            this.location = location;
        }
    }

    var truck_ico = L.icon({
        iconUrl: 'https://cdn.pixabay.com/photo/2012/04/24/23/21/firetruck-41088__340.png',
        iconSize:     [30, 50], // size of the icon
        iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
        popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });

    var fire_station_ico = L.icon({
        iconUrl: 'https://cdn.pixabay.com/photo/2014/04/02/17/05/fire-station-307895__340.png',
        iconSize:     [90, 90], // size of the icon
        iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
        popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });

    var fires = [];
    var trucks = [];
    var fire_station = [];
    var jsonData;

    var dim_truck_X = 0.002;
    var dim_truck_Y = 0.001;

    /*requete GET feu*/
    var xhr = new XMLHttpRequest(); 
    xhr.open('GET', 'http://localhost:8080/api/real_data/get_feu');
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            jsonData = JSON.parse(xhr.responseText);
            //console.log(jsonData)
            for (var i = 0; i < jsonData.length; i++) {
                /*create fire*/
                fires[i] = new fire([45.73 + jsonData[i].x/300,4.80 + jsonData[i].y/100], jsonData[i].intensite*20);
                console.log(fires[i])

                //show fire
                var circle = L.circle(([fires[i].location[0], fires[i].location[1]]), {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: fires[i].intensity
                }).addTo(mymap)
            }   
        }
    };
    xhr.send();
    /*requete GET camion*/
    xhr2 = new XMLHttpRequest(); 
    xhr2.open('GET', 'http://localhost:8080/api/real_data/get_vehicule');
    xhr2.onreadystatechange = function() {
        if (xhr2.readyState === 4) {
            jsonData = JSON.parse(xhr2.responseText);
            //console.log(jsonData)
            for (var i = 0; i < jsonData.length; i++) {
                /*create truck*/
                trucks[i] = new truck([45.73 + jsonData[i].x/300,4.80 + jsonData[i].y/100]);
                console.log(trucks[i])
                /*show truck*/
                L.marker([trucks[i].location[0], trucks[i].location[1]], {icon: truck_ico}).addTo(mymap);
   
            }   
        }
    };
    xhr2.send()

    /*requete GET caserne*/
    xhr3 = new XMLHttpRequest(); 
    xhr3.open('GET', 'http://localhost:8080/api/real_data/get_caserne');
    xhr3.onreadystatechange = function() {
        if (xhr3.readyState === 4) {
            jsonData = JSON.parse(xhr3.responseText);
            console.log(jsonData)
            for (var i = 0; i < jsonData.length; i++) {

                /*show truck*/
                L.marker([45.73 + jsonData[i].x/300,4.80 + jsonData[i].y/100], {icon: fire_station_ico}).addTo(mymap);
                console.log([45.73 + jsonData[i].x/300,4.80 + jsonData[i].y/100])
            }   
        }
    };
    xhr3.send()
    
    /*Add map tiles*/
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        /*Account Mapbox*/
        accessToken: 'pk.eyJ1IjoibG9pY2JydW5vIiwiYSI6ImNramw3OG1mMzM5M3QydXNjeDJ1NXM1enAifQ.2edbMGFjSdeR75h8zAPfJw'
    }).addTo(mymap);

    </script>
</body>
</html>